<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Welcome to suneel.com, <%= @name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @email %>.<br>
    </p>
    <p>
     
    </p>
    <p><b> Thanks for joining and have a great day! </b></p>
  </body>
</html>